
body,html {
  background-image:url("background2.png");
  background-repeat: no-repeat; 
  background-size:  cover;
  background-attachment:fixed; 
  height: 100%; 
  align-items: center;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



  
  